<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="/style.css" rel="stylesheet">
    <title>Welcome to Pokemon GO</title>
</head>
<body>
    <h1>Welcome to Pokemon GO</h1>
    <p>
        <a href="/gyms">Gyms</a> || 
        <a href="/managers">Managers</a> || 
        <a href="/trainers">Trainers</a> || 
        <a href="/pokemons">Pokemons</a> || 
        <a href="/pokemontrainers">Pokemon Trainers</a>
    </p>
</body>
</html>